.container {
  margin: 0 auto;
  width: 80%;
}

h1
 {
   text-align: center;
   font-family: georgia, arial, san-serif;
}



.column {
  display: inline-block;float: left;vertical-align:top;
}

.main-text {
  padding-top: 25px;
  clear: both;
}

.column {
  width: 33%;
}

.image img {
  width: 80%;
}

#skill-list {
  margin-left: 50px;


  }
/*typography*/

h2,
h3,
h4
 {
  font-family: cursive, arial, san-serif;
}
h2,h3{
  margin-top: 0px;
}
h3{
  padding-top: 0px;
}

.intro p

{
  font-family: Futura,Helvetica, sans-serif; font-weight: 100;
-webkit-margin-before: 0;
}

.main-text {
  font-family: futura,Helvetica, san-serif; font-weight; 100;
  font-size: 1em;
}

.skills h4 {text-align: center;
text-transform: uppercase;
}

body {
    background-color: #fffeea;
    color: #34495e
  }


/*links on the top of the page*/

.skills {
  background-color: #fffeea;
  color: #5ad4c2
}

.left {
  float: left;
}
.right {
  float: right;
}

a{
  color: red;
}
.container a {
  color: red;
  display: inline-block;
  padding: 5px 5px;
  font-family: arial-black, arial, san-serif;
}
  a:hover {
      background-color: yellow;
      text-decoration: none;
      transition: color 600ms;
      -webkit-transition: color 600ms;

    }

.nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    word-spacing: 50px;
}
div {
  padding-top: 10px; margin-left: 0px;
}
