
.jumbotron { background-image: url("../img/ocean 1.jpeg");
height:780px width:1024px;
  background-repeat: no-repeat;
  background-size: cover; }
  .jumbotron center {  color: white; }
    .jumbotron a { color: white; }
    .jumbotron h1 { color: white;}
    .container h2 { color:red;}

    body {
        background-color: #fffeea;
        color: #34495e
      }
